.locationicon {
    border: none;
    color: #010740;
    background-color: transparent;
    text-align: right;
    padding: 0 0 0 77%;
}
.locationicon:focus {
  outline: none;
}
  
.form {   
  margin: auto;
    padding: 10px 20px;

  }
  
  input {
    width: 100%;
    color: black;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgb(0, 92, 179)
  }
  
  select {
    width: 100%;
    color: black;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgb(0, 92, 179)
  }
  button {
    padding:0.2em 1.45em;
    box-sizing: border-box;
    position:relative;
    border: 1px solid rgb(0, 92, 179);
    background-color: transparent;
  }

  .addbr{
    box-shadow: 3px 5px 8px rgb(188, 223, 255);
    margin-top: 6%
  }
  .imageinput {
      outline: none;
      margin-top: 0;
  }
  input {
    border-radius: 4px;
    cursor: pointer;
  }
  
  select {
    width: 100%;
    color: black;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="file"] {
  display: none
  }
  
  #imageLabel {
    padding:2%;
    margin:0 0.3em 0.3em 0;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    background-color: rgb(0, 24, 54);
  }
  
  
  #submit {
    background-color:rgb(0, 24, 54);
    transition: all 0.15s;
    cursor: pointer;
    color: white
  }