.bathroomCard {
    width:50%;
    margin:auto;
   
}
.profileimg {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 4%;
    border-radius: 100%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.profileinput {
    display: none;
}
.picture {
    border: none;
    font-size: 10px;
    color: #010740;
    /* bottom: 1.5em; */
    padding: 0;
    /* left: 12.2em; */
    background-color: transparent;
}
.username{
    
    width:54px;
    font-family: 'Poppins', sans-serif !important;
    font-size:18px;
}


.profile_container
{
    
    min-height:90vh;   
    
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;

    
}

@media only screen and (max-width: 640px) {


    .profile_container
{
    min-width:90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
   
}

}

@media only screen and (max-width: 920px) {


    .bathroomCard {
        width:50%;
        margin:auto;
       
    }

}