.headericon {
    font-size: 30px;
    color: #010740;
}
.btn {
    border: none;
    background-color: transparent;
    padding: 0;
}
.navbarb {
    width: 30%;
    margin: auto;
    padding: 0;

}
.logo {
    width: 50%;
}

@media only screen and (max-width : 960px) {
    .logo {
        width: 75%;
    }
  
  } 
  /* end Media Query */